.header {

    grid-area: head;
    background-color: aqua;
}


.header img {

    height: 30px;
}

.right {
    float: right;
    width: 100px;
    padding-top: 15px;

}

.right a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.login {
    text-align: center;
    transition: all 2s ease;

}

.login :hover {
    background: #d45252;
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
    padding: 8px;
    transition: all 1s ease;
}

.profile {
    padding-bottom: 10px;
    text-align: center;
    transition: all 2s ease;
}

.profile :hover {
    background: slateblue;
    color: #eeeeee;
    box-shadow: inset 0 0 0 3px #3a7999;
    padding: 8px;
    transition: all 1s ease;
}