.side_bar{

  background-color: cornflowerblue;
  grid-area: side;
  padding: 20px;

}

.item{

  
  padding-bottom: 20px;
 
  font-size: 28px;
  
}
.item a {

text-decoration: none;
  color: whitesmoke;
}

.item a.activeLink {

  color: red;
}