.ava{

    width: 100px;
    height: 100px;
    margin-top: 30px;
}



.users{

    margin-left: 70px;
    display: flex;
    flex-direction: column;

}

.users button{

    margin-left: -20px;
    margin-bottom: 6px;
    margin-top: -2px;
}
