.ava{

    width: 100px;
    height: 100px;
}

.activePage{

    font: bold;
    text-decoration: underline;
}

.pages {
    text-align: center;
    cursor: pointer
}

.pages span {

    padding-right: 10px;
    
}