body{
  padding: 0%;
    margin: 0%;
}
.app_wrapper{


width: 1500px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas: 
  "head head"
  "side article";
}

.header{

  grid-area: head;
  background-color: aqua;
}

.side_bar{

  background-color: cornflowerblue;
  grid-area: side;
}

.article{

  background-color:  bisque;
  grid-area: article;
}

.header img{

  height: 30px;
}

.side_bar a{

  text-decoration: none;
  color: black;
  padding-bottom: 3em;
 
  font-size: 28px;
  
}

.article img{
  height: 400px;
  width: 100%;
}

#avatar{

  height: 100px;
  width: 100px;
}