
.app_wrapper{

width: 1500px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-template-areas: 
  "head head"
  "side article";

  margin: auto;
}

.content{

  background-color:  bisque;
  grid-area: article;
}

textarea {

  resize: none;
}